h1{
    font-size: 30px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    color:#696969;	
}
.panel {
    margin:30px; 
    padding: 10px;
    display: flex;
    flex-direction: column;  
    flex: auto;    
}

.container{
    color:#34495e;
    font-size: 18px;
    margin: 30px;
    padding: 10px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;	
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.stadistics{
    color:#34495e;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-top: solid;
    border-width: 1px;
    border-color: #73C3E6;
}

.boton{
    display: flex;
    justify-content: center;
}


.boton input{
    color:white;
    font-size: 16px;
    background-color: whitesmoke;
    font-weight: lighter;
    width: 200px;
    height: 55px;
    border-radius:5px;
    background-color: #34495e;
    border:solid;
    font-weight: bold;
    border-width: 2px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

.boton input:hover {
    background-color: whitesmoke;
    color:  #34495e;
}

