.start{
  font-style: normal;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.center{
  display: flex;
  justify-content: center;
}

.padre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

footer{
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  font-size: 14px;
  background: #5F9EA0;
  display: flex;
  flex-direction: column;
}

.copyright{
  background: #34495e;
  display: flex;
  justify-content: center;
}

.principalfooter{

  background: #5F9EA0;
  display: flex;
  justify-content: space-around;
}
