.start{
  font-style: normal;
  color: white;
  font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
}

.padre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

footer{
  background: #267FE6;
  display: flex;
  flex-direction: column;
}

.copyright{
  background: #123AE6;
  display: flex;
  justify-content: center;
}

.principalfooter{;
  background: #73C3E6;
  display: flex;
  justify-content: space-around;
}
