.panel {
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;  
    flex: auto;    
}

.panel h1{
    font-size: 38px;
    color:#34495e; 
}

.frmSale input{
    font-size: 16px;
    color: dimgray;
}

.frmSale { 
    font-size: 16px;
    display: flex;
    flex: auto;  
    flex-direction: column;  
    justify-content:space-around;
    
        
}

.frmSale label{
    color: #808080;
}

.boton{
    display: flex;
    align-items: center;
}


.boton input{
    display: flex;
    flex: auto;  
    color:white;
    font-size: 16px;
    background-color: whitesmoke;
    font-weight: lighter;
    width: 200px;
    height: 55px;
    border-radius:5px;
    background-color: #34495e;
    border:solid;
    font-weight: bold;
    border-width: 2px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

.boton input:hover {
    background-color: whitesmoke;
    color:  #34495e;
}
