a{
  font-style: normal;
  color: white;
  font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
}

.listaMV{
    width: 300px;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listaMV ol {
    margin: 0 0 0 2em;
}

.listaMV li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.listaMV li:hover{
    background: #eee;
}

.listaMV li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.listaMV li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.listaMV li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;
}

.padre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

footer{
  background: #267FE6;
  display: flex;
  flex-direction: column;
}

.copyright{
  background: #123AE6;
  display: flex;
  justify-content: center;
}

.principalfooter{;
  background: #73C3E6;
  display: flex;
  justify-content: space-around;
}
