.Principal {
  
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  font-size: 20px;
  color: #808080;
  color: #34495e ;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-decoration: none;
  align-self: center;

 }

.secImg  {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.secImg p {
  display: flex;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  font-size: 18px;
}

.mainBody {
  display: flex;
  flex-wrap: nowrap;
}

.recentBooks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}