body{
    background-color: whitesmoke ;
    color: white;
}
header {
    margin:0px, 0px, 0px, 0px;
    padding-right: 10px;
    background-color: #5F9EA0 ;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    width: 100%;
}
.login {
     
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
}
.login a{
    width: 110%;
    text-decoration: none;
    font-size: 12px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    color: white;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    
}
.menu2, .menu1{ 
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:nowrap;
}
.menu1{
    align-items: center;
}
.buttomM{
    flex: auto;
    width: 50px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    font-size: 18px;
    padding: 3px 6px 3px 6px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    
}

.menu1 input{
    font-size: 18px;
    font-weight: lighter;
    color: #808080;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

