body{
    background-color: black;
    color: white;
}
header {
    background-color: #123ae6;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    width: 100%;
}
.login {
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
}
.login a{
    width: 110%;
    text-decoration: none;
    font-size: 20px;
    background-color: #f78033;
    color: white;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    
}
.menu2, .menu1{ 
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:nowrap;
}
.menu1{
    align-items: center;
}
.buttomM{
    flex: 1 auto;
    width: 50px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    background-color: #f78033;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 25px;
    padding: 3px 6px 3px 6px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    
}

.menu1 input{
    font-size: 20px;
    background-color: #f78033;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}