.my_books{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.my_books h1{
    text-align: center;
    font-size: 300%;
}

.my_books table{
    border: 2px solid #ffde5c;
}

.my_books th, td{
    width: 16%;
    border-bottom: 2px solid #73c3e6;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
}
.my_books table td tr{
    height: 25%;
}