.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label_reg {
    display: flex;
    font-size: 18px;
}

.register form input , .register input {
    font-size: 18px;
}

.regError {
    border-color: red;
}