.panel {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;      
}

.principal {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}

.datos{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.descripcion{
    color: #696969;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    font-size: 28px;
    color: #34495e;
       
}

.precio{
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    font-size: 32px;
    color: #808080; 
    color:#34495e ;
}

.boton button{
    color:white;
    font-size: 16px;
    background-color: whitesmoke;
    font-weight: lighter;
    width: 200px;
    height: 55px;
    border-radius:5px;
    background-color: #34495e;
    border:solid;
    font-weight: bold;
    border-width: 2px;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

.boton button:hover {
    background-color: whitesmoke;
    color:  #34495e;
}

